<header >
  <div style="margin-top: 2%;"> 
    <h1 class="Hbutton2"><a href="/account/new" class="Hbutton3">New Account</a>    </h1>
    <h1 class="Hbutton2"><a href="/account/" class="Hbutton3">View Current Accounts</a>    </h1>
    <h1 class="Hbutton2"><a href="/application/new" class="Hbutton3">Add New Applications</a>    </h1>
  </div>


</header>