<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO</title>
  <link rel="stylesheet" href="/stylesheets/shared/styles.css">
  <style>
    ::-webkit-scrollbar {
      display: none;
    };


  </style>
</head>
<body style="text-align: center;">
  <%- include('../partials/header.ejs') %>
  <%- body %>
</body>
<script>
    function show(first, second){
        document.getElementById(first).style.visibility='visible'
        document.getElementById(second).style.visibility='hidden'
    }
    function accountshow(){
      document.getElementById("account").style.display = 'block'
      document.getElementById("accountdetails").style.display = 'none'
    }
    function accounthide(){
      document.getElementById("account").style.display = 'none'
      document.getElementById("accountdetails").style.display = 'block'
    }
    function copy(){
      let text = document.getElementById('emails')
      navigator.clipboard.writeText(text.innerText)
    }
</script>
</html>