<div style="margin:2%; width:91%;" class="applications form">
    <iframe src="https://calendar.google.com/calendar/embed?height=350&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&mode=WEEK&showNav=0&showTitle=0&showDate=1&showPrint=0&showTabs=0&showCalendars=1&src=MTYxNTdlNTdjNmM1Y2ZmMDFkNzc4ZWQzZDQyYjZjOTgzMjVmMzk2MGNhNjA1NDNhYmYzNjQ5YmI3MWIyMmM2OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%236e0000" width="1200" height="500" frameborder="0" scrolling="no"></iframe>
  
  </div>