<div class="form" style="width:25%">
  <div style="text-align: end;">
    <a class="button2" href="/account/newWeek">New Week</a>
  </div>
  
  <div style="text-align: center;">
    <h1 class="textW title" style=""><u>Accounts</u></h1>
  <% accounts.forEach(account => { %>
       
  <div class="" style="">
    <h2 class="buttonA" style="column-span: all;" ><a href="/account/<%= account.id %>/details" style="color: #EEFBFB; text-decoration: none;"><%= account.DSN %> - (<%= account.ActiveTasks %>)</a></h2>
  </div>
  <%}) %>
  </div>
</div>
