<div class="form textW">
  <h2>New Account</h2>
  <form action="/account" method="POST">
    <div>
      <label class="align ">DSN:</label><input type="text" name="DSN" autofocus><br><br>
      <label class="align ">TimeZone:</label><input type="text" name="timezone" ><br><br>
      <label class="align ">Contact 1 - Name:</label><input type="text" name="Contact1name" >
      <label class="align ">Contact 1 - Email:</label><input type="text" name="Contact1email" ><br><br>
      <label class="align ">Contact 2 - Name:</label><input type="text" name="Contact2name" >
      <label class="align ">Contact 1 - Email:</label><input type="text" name="Contact2email" ><br><br>
      <label class="align ">Contact 3 - Name:</label><input type="text" name="Contact3name" >
      <label class="align ">Contact 1 - Email:</label><input type="text" name="Contact3email" ><br><br>
      <% if(ER == 'Success'){ %>
      <h3 style="color:greenyellow;"><%=ER%></h3>
        <%} else{%>
          <h3 style="color:maroon;"><%=ER%></h3>
      <%}%>
    </div><br><br>   

  <a href="/account/" class="button2">Cancel</a>
  <button type="submit" class="button2">Create</button>
</form>
</div>