<div class="form textW">
  <h2>New Account</h2>
  <form action="/account" method="POST">
    <div>
      <label class="align ">DSN:</label><input type="text" name="DSN" autofocus><br><br>
      <label class="align ">TimeZone:</label><input type="text" name="timezone" >
    </div><br><br>   

  <a href="/account/" class="button2">Cancel</a>
  <button type="submit" class="button2">Create</button>
</form>
</div>