<div class="form textW">
  <h2>New Application</h2>
<form action="/application" method="POST">
  <label>Application Name</label>
  <input type="text" name="name" value="<%= application.Name %>" autofocus><br><br>
  <a href="/application" class="button2">Cancel</a>
  <button type="submit" class="button2">Create</button>
</form>

</div>

