<div class="form">
    <h2>New User</h2>
    <form action="/users" method="POST">
      <div>
        <label class="align">Name:</label><input type="text" name="name" autofocus>
        <label class="align">UserName:</label><input type="text" name="username" >
        <label class="align">Password:</label><input type="text" name="password" >
      </div><br><br>   
  
    <a href="/users/" class="button2">Cancel</a>
    <button type="submit" class="button2">Create</button>
  </form>
  </div>